absl-py==0.6.1
astor==0.7.1
cycler==0.10.0
eyeD3==0.8.8
ffmpeg==1.4
gast==0.2.0
grpcio==1.17.0
h5py==2.8.0
hmmlearn==0.2.1
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
Markdown==3.0.1
matplotlib==3.0.2
numpy==1.15.4
pandas==0.23.4
pathlib==1.0.1
protobuf==3.6.1
pydub==0.23.0
pyparsing==2.3.0
python-dateutil==2.7.5
python-magic==0.4.15
pytz==2018.7
PyYAML==3.13
scikit-learn==0.20.1
scipy==1.1.0
simplejson==3.16.0
six==1.12.0
sklearn==0.0
tensorboard==1.12.0
tensorflow==1.12.0
termcolor==1.1.0
Werkzeug==0.14.1
